html,
body {
  font-size: 10px;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
  overflow-x: hidden;
  height: auto;
  background: var(--black);
}

.background {
  width: 100vw;
  height: 20vh;
  background: var(--black);
  display: flex;
  justify-content: center;
}

.background_logo {
  height: 100%;
  width: 100%;
  background: url(../../../public/hero-image-wr.jpg);
  background-position-x: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.background_logo img {
  width: 15rem;
}

.lowerBackground {
  background: transparent;
  background: var(--black);
  position: relative;
  /* Maintain relative positioning */
  z-index: 1;
  /* Lowest z-index to sit behind other elements */
  min-height: 100vh;
  width: 100%;
}

.bc_box {
  position: relative;
}

.main_page {
  position: relative;
  z-index: 2;
  width: 100%;
  background: var(--black);
  top: -66rem;
  /* این مقدار می‌تواند حذف یا تغییر کند تا با محتوا همخوانی داشته باشد */
  height: auto;
  /* اجازه بده تا ارتفاع به طور خودکار با محتوای داخل تنظیم شود */
  padding-bottom: 2rem;
  /* مقداری فاصله برای انتهای صفحه ایجاد می‌کند */
  box-shadow: 0px 10px 50px 4px var(--black);
}

.page_flag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 10rem;
  position: absolute;
  top: -30rem;
  left: 106px;
  z-index: 3;
}

.page_flag img {
  width: 100%;
  border-radius: 0.8rem;
}

.page_names {
  margin-top: -17rem;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.names_common {
  font-size: var(--semi-bold-bigger);
  font-weight: 700;
}

.names_official {
  font-size: var(--bold_medium-normal);
  font-weight: 600;
}

.page_boxes {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: -8rem;
}

.boxes_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--white);
  font-size: var(--bold_medium-small);
  font-weight: 600;
  background: var(--dark-gray);
  padding: 1.2rem 1.2rem;
  border-radius: 0.8rem;
}

.first_box {
  width: 40%;
}

.second_box {
  width: 35%;
}

.box_text,
.box_value {
  display: flex;
  align-items: center;
  height: 100%;
}


.vertical {
  border-left: 1px solid var(--white);
  height: 2rem;
}

.page_parts {
  position: relative;
  /* از absolute به relative تغییر کن */
  margin-top: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  font-size: var(--bold_medium-small);
  color: var(--light-gray);
  font-weight: 600;
}

.part_border {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.parts_part {
  border-top: 1px solid var(--dark-gray);
  width: 100%;
  padding: 2rem 0;
}

.part_info2 {
  display: flex;
  justify-content: center;
  row-gap: 3rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.part_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.part_border2 {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

@media screen and (min-width: 767px) {
  .page_flag {
    width: 26%;
    left: 286px;
  }
}

@media screen and (min-width: 1023px) {
  .background {
    height: 40vh;
  }

  .main_page {
    width: 60%;
    margin: 0 18rem;
  }

  .page_flag {
    top: -2rem;
    width: 50%;
    left: 160px;
  }

  .part_info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1439px) {
  .part_info {
    grid-template-columns: repeat(5, 1fr);
  }

  .main_page {
    margin: -31rem 25rem;
  }

  .page_flag{
    width: 40%;
    left: 260px;
  }

  .page_names {
    margin-top: -15rem;
  }
}