.country{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
}

.box_flag{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_flag img{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1023px){
    .country_box{
        width: auto;
    }
}