:root {
  --black: #1B1D1F;
  --dark-gray: #282B30;
  --blue: #4E80EE;
  --light-gray: #6C727F;
  --white: #D2D5DA;
  --semi-bold-bigger: 3.2rem;
  --semi-bold_medium-big: 1.6rem;
  --bold_medium-normal: 1.4rem;
  --bold_medium-small: 1.2rem;
}

html,
body {
  font-size: 10px;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
  overflow-x: hidden;
}

.background {
  width: 100vw;
  height: 20vh;
  background: black;
  display: flex;
  justify-content: center;
}

.background_logo {
  height: 100%;
  width: 100%;
  background: url(../../public/hero-image-wr.jpg);
  background-position-x: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background_logo img {
  width: 15rem;
}

.lowerBackground {
  background: var(--black);
  height: 80vh;
}

.bc_box {
  position: relative;
}

.main_page {
  width: 100%;
  background: var(--black);
  position: absolute;
  top: 13rem;
  z-index: 2;
}

.header_found {
  color: var(--light-gray);
  font-size: var(--bold_medium-normal);
  font-weight: 700;
}

.page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.header_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--dark-gray);
  box-sizing: border-box;
  padding: 0.8rem;
  width: 24rem;
  border-radius: 1rem;
}

.header_search img {
  display: block;
}

.searchBox {
  background: transparent;
  border: 0;
  outline: none;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: var(--bold_medium-normal);
  color: var(--light-gray);
  font-weight: 600;
}

.page_main {
  padding: 1.5rem;
}

.sub_sort {
  font-size: var(--bold_medium-small);
  color: var(--light-gray);
  font-weight: 600;
}

.sort_box {
  position: relative;
}

.box_selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--dark-gray);
  border-radius: 1rem;
  padding: 0 1rem;
  color: var(--white);
  background: var(--black);
  width: 94%;
  font-size: var(--bold_medium-normal);
  position: absolute;
  z-index: 3;
  top: 1px;
}

.box_options {
  display: flex;
  flex-direction: column;
  background: var(--black);
  height: 10rem;
  padding-top: 5rem;
  row-gap: 0.2rem;
}

.box_options button {
  background: transparent;
  border: 0;
  border-bottom: var(--light-gray) 1px solid;
  border-radius: 1rem;
  outline: none;
  text-align: left;
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: var(--bold_medium-normal);
  transition: 0.5s;
  padding: 1rem;
}

.box_options button:hover {
  background: var(--dark-gray);
  cursor: pointer;
  transition: 0.5s;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark-gray);
  padding: 1rem;
  color: var(--light-gray);
  font-size: var(--bold_medium-small);
  font-weight: 700;
  margin-top: 5rem;
}

.loading-block {
  width: 100%;
  background: #282b3080;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: 0.5s;
  position: absolute;
  height: 100vh;
}

.loading-none {
  display: none;
  transform: 0.5s;
}

@media screen and (min-width:1023px) {
  .page_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main_sub {
    width: 25%;
    margin-top: 6rem;
  }

  .main {
    width: 70%;
  }

  .background{
    height: 40vh;
  }

  .main_page{
    top: 20rem;
    width: 95%;
    left: 2.5rem;
    border-radius: 1.6rem;
    border: 1px solid var(--dark-gray);
  }

  .header_search{
    width: 30rem;
  }

  .searchBox{
    width: 25rem;
  }
}