:root{
  --black: #1B1D1F;
  --dark-gray: #282B30;
  --blue: #4E80EE;
  --light-gray: #6C727F;
  --white: #D2D5DA;
  --semi-bold-bigger: 3.2rem;
  --semi-bold_medium-big: 1.6rem;
  --bold_medium-normal: 1.4rem;
  --bold_medium-small: 1.2rem;
}

html, body{
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro';
}